<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" android:versionCode="1" android:versionName="1.0" package="com.companyname.xamarincrossplatformnativelibrariestest" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="24" android:targetSdkVersion="33" />
	<application android:label="XamarinCrossPlatformNativeLibrariesTest.Android" android:theme="@style/MainTheme" tools:replace="android:label, icon, theme"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>